{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static '/styles/app.css' %}" />
        <script src="{% static '/scripts/app.js' %}" defer></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Prompt:wght@100;400&family=Staatliches&display=swap" rel="stylesheet">

        <title>Mom n Spot  {% block title %}{% endblock title %}</title> 
       
    </head>
    <body>
        <div>
        <div class="index-body">
            <div class="navbar-brand">
                <span class="navbar-burger" data-target="navbarMenuHeroC" aria-label="menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
            </div>
            
            {% if user.is_authenticated %}
                <div class="logout-container">
                    <a 
                    class="navbar-item" 
                    href="{% url 'logout' %}"
                    id="nav-link">
                        <p class="text">logout</p>
                    </a>
                </div>
            </div>
            {% else %}
                <div class="navbar">
                    <div class="nav-items">
                        <a 
                            class="navbar-item"
                            href="{% url 'signup' %}"
                            id="nav-link">
                                <p class="text">sign up</p>
                        </a>
                        <a 
                            class="navbar-item" 
                            href="{% url 'login' %}"
                            id="nav-link">
                                <p class="text">log in</p>
                        </a>
                    </div>
                    
                </div>
            {% endif %}
        </div>
        {% block content %}{% endblock %} 
    </body>
</html>
